body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: #444444;
    color: white;
    padding: 3rem;
    border-bottom: 2px solid black;
}

header h1 {
    margin: 20px;
}

#home, #menu, #contact {
    border: 2px solid black;
    padding-bottom: 40px;
}

h3 {
    margin: 20px;
    padding: 20px
}

p {
    margin: 10px auto;
    padding: 10px;
    border-bottom: 5px solid #444444;
    width: 50%;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border-bottom: 1px solid black;
}

.tab {
    cursor: pointer;
    padding: 10px;
}

.tab.active {
    background-color: #CCC;
}

.tab:hover {
    background-color: #AAA;
}

.tab-content {
    margin-left: 50px;
    margin-right: 50px;
}